<%= render partial: 'detail', locals: { project: @project } %>
<section class="section">
<div class="container">
<div class="content has-text-centered">
<%- @packages.each do |package| -%>
<%= render partial: 'package', locals: { package: package } %>
<%- end -%>
</div>
</div>
</section>
