<section class="section">
<div class="container">
<div class="content has-text-centered">
<%- @project.packages.each do |package| -%>
<%= render partial: 'package', locals: { package: package } %>
<%- end -%>
</div>
</div>
</section>
