<table>
<%- @project.packages.each do |package| -%>
  <tr>
    <td><%= package.registry %>: <%= package.name %></td>
    <%- package.metrics.each do |metric| -%>
      <td>
        <%= metric.title %>: <%= metric.value %>
      </td>
    <%- end -%>
  </tr>
<%- end -%>
</table>
