<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>pkgstatus.org</strong> by <a href="https://github.com/meganemura">meganemura</a>
      </p>
    </div>
  </div>
</footer>
