<!DOCTYPE html>
<html>
  <head>
    <title>pkgstatus.org</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
